.clipboard {
    display: inline-block;
}
.clipboard input {
	position: relative;
	width: 100%;
	min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

}

.short-url {
  margin-bottom: 20px;
  padding: 8px 8px 9px 8px;
  font-size: 15px;
  background-color: #eee;
  border-radius: 5px;
}

.clipbtn {
  margin-left: 5px;
  cursor: pointer;
  padding: 8px 8px 9px 8px;
  position: relative;
  border-radius: 50%;
}

.enupalslider-livepreviewbtn {
  display: block;
  position: relative;
  margin-top:13px;
  margin-bottom: 10px;
}

.enupalslider-livepreviewbtn:before {
  content: 'view';
  font-family: 'Craft';
  font-size: 13px;
  margin-left: -2px;
  vertical-align: middle;
}

.clear-button {
  display: block;
  margin-left: 5px;
}

/**/
.enupalslider-previewbody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60%;
}
.enupalslider-previewbody div {
  max-width:800px;
}
.enupalspinner{
  margin-left: 50%;
  margin-top: 15%;
}
.enupalslider-content{
  margin-left: -150%;
}