{#
/**
 * EnupalSlider plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-slider/_layouts/elementindex" %}
{% set title = "Sliders"|t %}
{% set elementType = 'enupal\\slider\\elements\\Slider' %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('enupal-slider/slider/new') }}">{{ "New Slider"|t('enupal-slider') }}</a>
	</div>
{% endset %}