{% do view.registerAssetBundle("enupal\\slider\\assetbundles\\SliderAsset") %}

<ul class="enupal-slider" {{dataAttributes}}>
 {% for slide in slidesElements %}
 	{% if attribute(slide, sourceHandle) == 'justHmtl' %}
 		<li>{{attribute(slide, htmlHandle)|raw}}</li>
 	{% else %}
 		<li><img title="{{slide.title}}" src="{{slide.getUrl()}}"> </li>
 	{% endif %}
 {% endfor %}
</ul>